.second-fotter {
  width: 100%;
  min-width: 800px;
  height: 40px;

  display: flex;
  flex-direction: column;
}

.second-fotter-text-wrap {
  margin: 0px 0;
  display: flex;
  justify-content: center;
}

.second-fotter-text {
  color: #333;
  font-size: 14px;
  margin: 0 10px;
}

.second-fotter-logo {
  width: 100px;
  margin: 0 auto;
}